<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container" align="center">
        <h1>Movies Rating website</h1>
        <p>All Movies ratings can upload and retrive the data</p>
        <a class="btn btn-warning" href="info/">Moviesinfosubmit</a>
        <a class = "btn btn-primary" href="list/">listofmovies</a>
        <br>
        <br>
        <br>
        <img src="{% static 'images/ntr.jpg'%}" alt="">
        <img src="{% static 'images/movie.jpg'%}" alt="">
        <img src="{% static 'images/sntr.jpg'%}" alt="">
    </div>
    
</body>
</html>